/* app.css */
@import "$lib/styles/reset.css";
@import "$lib/styles/forms.css";

:root {
  --header-height: 3.5rem;
	--sidebar-width: 100%;
  --vwp: 23vw;
  --mask: hsl(0 0 50 / 0);
  
  @media (min-width: 840px) { --sidebar-width: 280px; }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}
/* .app[data-theme="light"] { color-scheme: light; }
.app[data-theme="dark"] { color-scheme: dark; } */
/* .app { color-scheme: light; } */
html { 
  color-scheme: light;
  &:has(.darkmode) { color-scheme: dark; }
}

html, body, aside, header, .app {
  transition: background-color 500ms,  
    border-color 500ms, color 500ms; 
}
header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--bg-header);
  border-bottom: var(--border);
  padding: 0 calc(var(--vwp) - var(--sidebar-width));
  z-index: 100;
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
    height: 100%;
    padding: 0 1rem;
    max-width: 1640px;
    background-color: var(--mask);
  }
  .title { 
    display: inline-flex;
    align-items: center;
    gap: 0 1ch;
    line-height: 1;

    h1 { margin: 0; line-height: 1; }
    svg {
      margin-top: 0.125em;
      height: 1.5em;
      width: 1.5em;
      font-size: 1rem;
    }
  }

  .banner { 
    display: none; 
    font-size: 0.875em;
  }
  @media (min-width: 840px) { 
    .banner { display: block; }
   }
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  padding-top: var(--header-height);
  width: max(var(--sidebar-width), var(--vwp));

  display: flex;
  justify-content: flex-end;
  overflow-y: auto;
  border-right: var(--border);
  background-color: var(--bg-panel);
  z-index: 50;

  @media (min-width: 840px) {
    max-width: 460px;
  }
  .sidenav {
    padding: 1rem;
    width: var(--sidebar-width); 
    min-height: 100%;
    background-color: var(--mask);
  }
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100dvh;
  background-color: var(--mask);

  .router {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    padding-top: var(--header-height);
    background-color: var(--mask);

    .page {
      padding: 1rem;
      position: relative;
      max-width: 840px;
      min-height: 5rem;
      height: 100%;
      background-color: var(--mask);

      @media (min-width: 576px) {
        padding: 1rem 2rem;
      }
      @media (min-width: 840px) {
        margin-left: max(var(--sidebar-width), var(--vwp));
      }
      @media( min-width: 2000px) {
        margin-left: 460px;
      }
    }
  }
}


@media (min-width: 2000px) {
  header { padding: 0 180px; }
}
